openapi: 3.0.3
info:
  title: Andy Containers API
  description: |
    Development container management platform for the Andy ecosystem.
    Manages containers, workspaces, templates, infrastructure providers, and container images
    across heterogeneous infrastructure (Docker, Apple Containers, Azure, SSH, Rivoli-managed).
  version: 0.1.0-alpha
  contact:
    name: Rivoli AI
    url: https://github.com/rivoli-ai/andy-containers

servers:
  - url: https://containers.rivoli.ai
    description: Production
  - url: https://containers-uat.rivoli.ai
    description: UAT
  - url: https://localhost:5200
    description: Local Development

security:
  - bearerAuth: []

paths:
  # --- Containers ---
  /api/containers:
    get:
      tags: [Containers]
      summary: List containers
      parameters:
        - name: ownerId
          in: query
          schema: { type: string }
        - name: organizationId
          in: query
          schema: { type: string, format: uuid }
        - name: teamId
          in: query
          schema: { type: string, format: uuid }
        - name: workspaceId
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema: { type: string, enum: [Pending, Creating, Running, Stopping, Stopped, Failed, Destroying, Destroyed] }
        - name: skip
          in: query
          schema: { type: integer, default: 0 }
        - name: take
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of containers
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Container' }
                  totalCount: { type: integer }
    post:
      tags: [Containers]
      summary: Create a new container
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateContainerRequest' }
      responses:
        '201':
          description: Container created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Container' }

  /api/containers/{id}:
    get:
      tags: [Containers]
      summary: Get container details
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Container details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Container' }
    delete:
      tags: [Containers]
      summary: Destroy a container
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Container destroyed

  /api/containers/{id}/start:
    post:
      tags: [Containers]
      summary: Start a stopped container
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Container started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Container' }

  /api/containers/{id}/stop:
    post:
      tags: [Containers]
      summary: Stop a running container
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Container stopped
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Container' }

  /api/containers/{id}/exec:
    post:
      tags: [Containers]
      summary: Execute a command in a container
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [command]
              properties:
                command: { type: string }
                timeoutSeconds: { type: integer, default: 30 }
      responses:
        '200':
          description: Command result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExecResult' }

  /api/containers/{id}/connection:
    get:
      tags: [Containers]
      summary: Get container connection info (IDE, VNC, SSH endpoints)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Connection info
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConnectionInfo' }

  # --- Workspaces ---
  /api/workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces
      parameters:
        - name: ownerId
          in: query
          schema: { type: string }
        - name: organizationId
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema: { type: string, enum: [Active, Suspended, Archived] }
        - name: skip
          in: query
          schema: { type: integer, default: 0 }
        - name: take
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Workspace' }
                  totalCount: { type: integer }
    post:
      tags: [Workspaces]
      summary: Create a new workspace
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateWorkspaceRequest' }
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }

  /api/workspaces/{id}:
    get:
      tags: [Workspaces]
      summary: Get workspace details
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }
    put:
      tags: [Workspaces]
      summary: Update a workspace
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateWorkspaceRequest' }
      responses:
        '200':
          description: Workspace updated
    delete:
      tags: [Workspaces]
      summary: Delete a workspace
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Workspace deleted

  # --- Templates (Catalog) ---
  /api/templates:
    get:
      tags: [Templates]
      summary: Browse the template catalog
      parameters:
        - name: scope
          in: query
          schema: { type: string, enum: [Global, Organization, Team, User] }
        - name: organizationId
          in: query
          schema: { type: string, format: uuid }
        - name: teamId
          in: query
          schema: { type: string, format: uuid }
        - name: search
          in: query
          schema: { type: string }
        - name: tags
          in: query
          schema: { type: array, items: { type: string } }
        - name: gpuRequired
          in: query
          schema: { type: boolean }
        - name: ideType
          in: query
          schema: { type: string, enum: [None, CodeServer, Zed, Both] }
        - name: skip
          in: query
          schema: { type: integer, default: 0 }
        - name: take
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Template catalog listing
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ContainerTemplate' }
                  totalCount: { type: integer }
    post:
      tags: [Templates]
      summary: Create a new template
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTemplateRequest' }
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContainerTemplate' }

  /api/templates/{id}:
    get:
      tags: [Templates]
      summary: Get template details
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContainerTemplate' }
    put:
      tags: [Templates]
      summary: Update a template
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTemplateRequest' }
      responses:
        '200':
          description: Template updated
    delete:
      tags: [Templates]
      summary: Delete a template
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Template deleted

  /api/templates/{id}/publish:
    post:
      tags: [Templates]
      summary: Publish a template to the catalog
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Template published

  # --- Environment profiles (Epic X) ---
  # Read-only catalog. CRUD is deliberately out of scope: profiles are
  # governance artefacts seeded from config/environments/global/*.yaml
  # at API startup (X2) and edited via that pipeline, not over HTTP.
  /api/environments:
    get:
      tags: [Environments]
      summary: List environment profiles
      description: |
        Returns the seeded `EnvironmentProfile` catalog. Each row declares
        the runtime shape (`HeadlessContainer` / `Terminal` / `Desktop`),
        the base image used for provisioning, and the capability envelope
        (network allowlist, secrets scope, GUI, audit mode). Used by the
        workspace-create flow (X5) and by AP runs to substitute the
        right base image and side-cars (X4).
      parameters:
        - name: kind
          in: query
          description: Optional filter; case-insensitive match against `EnvironmentProfile.kind`.
          schema:
            type: string
            enum: [HeadlessContainer, Terminal, Desktop]
        - name: skip
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: take
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        '200':
          description: Environment-profile listing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvironmentProfileList' }
        '400':
          description: Unknown `kind` filter (typo vs. empty result — surfaced as 400, not silent narrow).

  /api/environments/{id}:
    get:
      tags: [Environments]
      summary: Get one environment profile by id
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvironmentProfile' }
        '404':
          description: No profile with that id

  /api/environments/by-code/{code}:
    get:
      tags: [Environments]
      summary: Get one environment profile by stable slug
      description: |
        The slug is stable across renames; use this when binding profiles
        to workspaces (X5) or referencing them from agent-allowed lists
        (Epic W3).
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string, example: headless-container }
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvironmentProfile' }
        '404':
          description: No profile with that code

  # --- Agent runs (Epic AP) ---
  # Submit, observe, cancel, and stream lifecycle events for an agent
  # run. The four endpoints map 1:1 to AP2 + AP7 + AP9; downstream
  # services subscribe to the matching `andy.containers.events.run.*`
  # subjects (per ADR 0001 / 0002).
  /api/runs:
    post:
      tags: [Runs]
      summary: Submit a new agent run
      description: |
        Persists the run as `Pending`, builds the AQ3 headless config (AP3),
        and hands off to the AP5 mode dispatcher. The 201 response reflects
        whatever lifecycle state the run reached before the controller
        returned (typically still `Pending` once AP5 moves dispatch off the
        request thread; today it can be terminal because the dispatcher is
        synchronous).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRunRequest' }
      responses:
        '201':
          description: Run accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '400':
          description: Invalid environmentProfileId, workspaceRef, or other validation failure
        '403':
          description: Caller lacks the `run:write` scope

  /api/runs/{id}:
    get:
      tags: [Runs]
      summary: Get a run by id
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Run details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '404':
          description: No run with that id

  /api/runs/{id}/cancel:
    post:
      tags: [Runs]
      summary: Cancel a non-terminal run
      description: |
        Signals the active runner via the in-process cancellation
        registry (AP7). When a runner is registered the controller
        awaits its terminal write up to a 30 s grace; otherwise the
        row is flipped directly. Either way an
        `andy.containers.events.run.{id}.cancelled` event lands in
        the outbox.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Run cancelled (state reflects committed terminal write)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '404':
          description: No run with that id
        '409':
          description: Run is already terminal — Succeeded / Failed / Cancelled / Timeout

  /api/runs/{id}/events:
    get:
      tags: [Runs]
      summary: Stream lifecycle events for a run as newline-delimited JSON
      description: |
        Each line is a serialised `RunEvent`. The response closes when
        the run reaches a terminal status (after a final drain pass) or
        the caller disconnects. Used by `andy-containers-cli runs events`
        and any HTTP consumer that wants the same stream shape MCP
        clients get via `run.events`. Returns 404 if the run is unknown
        so callers don't sit on an empty stream forever.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: NDJSON event stream
          content:
            application/x-ndjson:
              schema: { $ref: '#/components/schemas/RunEvent' }
        '404':
          description: No run with that id

  # --- Images ---
  /api/images/{templateId}:
    get:
      tags: [Images]
      summary: List built images for a template
      parameters:
        - name: templateId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List of images
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ContainerImage' }

  /api/images/{templateId}/build:
    post:
      tags: [Images]
      summary: Trigger image build for a template
      parameters:
        - name: templateId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                offline: { type: boolean, default: false }
                force: { type: boolean, default: false }
      responses:
        '202':
          description: Build started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContainerImage' }

  /api/images/{templateId}/latest:
    get:
      tags: [Images]
      summary: Get the latest built image for a template
      parameters:
        - name: templateId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Latest image
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContainerImage' }

  /api/images/diff:
    get:
      tags: [Images]
      summary: Diff two images
      parameters:
        - name: fromImageId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: toImageId
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Image diff
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImageDiff' }

  # --- Providers ---
  /api/providers:
    get:
      tags: [Providers]
      summary: List infrastructure providers
      responses:
        '200':
          description: List of providers
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InfrastructureProvider' }
    post:
      tags: [Providers]
      summary: Register a new infrastructure provider
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateProviderRequest' }
      responses:
        '201':
          description: Provider registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InfrastructureProvider' }

  /api/providers/{id}/health:
    get:
      tags: [Providers]
      summary: Check provider health
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Provider health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [Healthy, Degraded, Unreachable] }
                  capabilities: { $ref: '#/components/schemas/ProviderCapabilities' }

  # --- Health ---
  /health:
    get:
      tags: [Health]
      summary: Service health check
      security: []
      responses:
        '200':
          description: Service is healthy

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Container:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        templateId: { type: string, format: uuid }
        providerId: { type: string, format: uuid }
        externalId: { type: string }
        status: { type: string, enum: [Pending, Creating, Running, Stopping, Stopped, Failed, Destroying, Destroyed] }
        ownerId: { type: string }
        organizationId: { type: string, format: uuid }
        teamId: { type: string, format: uuid }
        ideEndpoint: { type: string }
        vncEndpoint: { type: string }
        createdAt: { type: string, format: date-time }
        startedAt: { type: string, format: date-time }
        stoppedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }

    CreateContainerRequest:
      type: object
      required: [name]
      properties:
        name: { type: string }
        templateId: { type: string, format: uuid }
        templateCode: { type: string }
        providerId: { type: string, format: uuid }
        providerCode: { type: string }
        workspaceId: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        teamId: { type: string, format: uuid }
        resources:
          $ref: '#/components/schemas/ResourceSpec'
        gpu:
          $ref: '#/components/schemas/GpuSpec'
        gitRepository:
          $ref: '#/components/schemas/GitRepositoryConfig'
        environmentVariables:
          type: object
          additionalProperties: { type: string }
        expiresAfterSeconds: { type: integer }

    ResourceSpec:
      type: object
      properties:
        cpuCores: { type: number, default: 2 }
        memoryMb: { type: integer, default: 4096 }
        diskGb: { type: integer, default: 20 }

    GpuSpec:
      type: object
      properties:
        required: { type: boolean }
        vendor: { type: string }
        minMemoryMb: { type: integer }
        count: { type: integer, default: 1 }

    GitRepositoryConfig:
      type: object
      required: [url]
      properties:
        url: { type: string }
        branch: { type: string }
        credentialRef: { type: string }

    ExecResult:
      type: object
      properties:
        exitCode: { type: integer }
        stdout: { type: string }
        stderr: { type: string }

    ConnectionInfo:
      type: object
      properties:
        ipAddress: { type: string }
        portMappings:
          type: object
          additionalProperties: { type: integer }
        ideEndpoint: { type: string }
        vncEndpoint: { type: string }
        sshEndpoint: { type: string }
        agentEndpoint: { type: string }

    Workspace:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        ownerId: { type: string }
        status: { type: string, enum: [Active, Suspended, Archived] }
        defaultContainerId: { type: string, format: uuid }
        gitRepositoryUrl: { type: string }
        gitBranch: { type: string }
        createdAt: { type: string, format: date-time }
        lastAccessedAt: { type: string, format: date-time }

    CreateWorkspaceRequest:
      type: object
      # X5 (rivoli-ai/andy-containers#94): environmentProfileCode is the
      # governance anchor for every container the workspace later
      # provisions. The C# DTO carries it as optional for source-compat
      # but the controller validates as required and returns 400 when
      # missing/blank/unknown — documented here as required so contract
      # consumers don't omit it.
      required: [name, environmentProfileCode]
      properties:
        name: { type: string }
        description: { type: string }
        organizationId: { type: string, format: uuid }
        teamId: { type: string, format: uuid }
        gitRepositoryUrl: { type: string }
        gitBranch: { type: string }
        templateId: { type: string, format: uuid }
        templateCode: { type: string }
        environmentProfileCode:
          type: string
          description: Slug from the `/api/environments` catalog (e.g. `headless-container`).
          example: headless-container

    UpdateWorkspaceRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        gitBranch: { type: string }

    ContainerTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        name: { type: string }
        description: { type: string }
        version: { type: string }
        baseImage: { type: string }
        catalogScope: { type: string, enum: [Global, Organization, Team, User] }
        ideType: { type: string, enum: [None, CodeServer, Zed, Both] }
        gpuRequired: { type: boolean }
        gpuPreferred: { type: boolean }
        tags: { type: array, items: { type: string } }
        isPublished: { type: boolean }
        dependencies:
          type: array
          items: { $ref: '#/components/schemas/DependencySpec' }
        createdAt: { type: string, format: date-time }

    CreateTemplateRequest:
      type: object
      required: [code, name, version, baseImage]
      properties:
        code: { type: string }
        name: { type: string }
        description: { type: string }
        version: { type: string }
        baseImage: { type: string }
        catalogScope: { type: string, enum: [Global, Organization, Team, User] }
        organizationId: { type: string, format: uuid }
        teamId: { type: string, format: uuid }
        ideType: { type: string, enum: [None, CodeServer, Zed, Both] }
        gpuRequired: { type: boolean }
        gpuPreferred: { type: boolean }
        parentTemplateId: { type: string, format: uuid }
        tags: { type: array, items: { type: string } }
        dependencies:
          type: array
          items: { $ref: '#/components/schemas/DependencySpec' }

    UpdateTemplateRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        version: { type: string }
        ideType: { type: string, enum: [None, CodeServer, Zed, Both] }
        tags: { type: array, items: { type: string } }

    DependencySpec:
      type: object
      required: [type, name, versionConstraint]
      properties:
        type: { type: string, enum: [Compiler, Runtime, Sdk, Tool, OsPackage, Library, Extension, Image] }
        name: { type: string }
        ecosystem: { type: string }
        versionConstraint: { type: string }
        autoUpdate: { type: boolean, default: true }
        updatePolicy: { type: string, enum: [SecurityOnly, Patch, Minor, Major, Manual], default: Minor }

    ContainerImage:
      type: object
      properties:
        id: { type: string, format: uuid }
        contentHash: { type: string }
        tag: { type: string }
        templateId: { type: string, format: uuid }
        imageReference: { type: string }
        buildNumber: { type: integer }
        buildStatus: { type: string, enum: [Pending, Building, Succeeded, Failed] }
        imageSizeBytes: { type: integer, format: int64 }
        builtOffline: { type: boolean }
        changelog: { type: string }
        createdAt: { type: string, format: date-time }
        resolvedDependencies:
          type: array
          items: { $ref: '#/components/schemas/ResolvedDependency' }

    ResolvedDependency:
      type: object
      properties:
        dependencyName: { type: string }
        dependencyType: { type: string }
        resolvedVersion: { type: string }
        source: { type: string }
        artifactHash: { type: string }

    ImageDiff:
      type: object
      properties:
        fromImageId: { type: string, format: uuid }
        toImageId: { type: string, format: uuid }
        dependencyChanges:
          type: array
          items:
            type: object
            properties:
              dependencyName: { type: string }
              dependencyType: { type: string }
              previousVersion: { type: string }
              newVersion: { type: string }
              changeType: { type: string, enum: [Added, Removed, VersionChanged, Unchanged] }
        baseImageChanged: { type: string }

    InfrastructureProvider:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        name: { type: string }
        type: { type: string, enum: [Docker, AppleContainer, Rivoli, Ssh, AzureAci, AzureAca, AzureAcp] }
        region: { type: string }
        isEnabled: { type: boolean }
        healthStatus: { type: string, enum: [Unknown, Healthy, Degraded, Unreachable] }
        lastHealthCheck: { type: string, format: date-time }

    CreateProviderRequest:
      type: object
      required: [code, name, type]
      properties:
        code: { type: string }
        name: { type: string }
        type: { type: string, enum: [Docker, AppleContainer, Rivoli, Ssh, AzureAci, AzureAca, AzureAcp] }
        connectionConfig: { type: object }
        region: { type: string }
        organizationId: { type: string, format: uuid }

    ProviderCapabilities:
      type: object
      properties:
        type: { type: string }
        supportedArchitectures: { type: array, items: { type: string } }
        supportedOperatingSystems: { type: array, items: { type: string } }
        maxCpuCores: { type: integer }
        maxMemoryMb: { type: integer }
        maxDiskGb: { type: integer }
        supportsGpu: { type: boolean }
        supportsVolumeMount: { type: boolean }
        supportsPortForwarding: { type: boolean }
        supportsExec: { type: boolean }
        supportsOfflineBuild: { type: boolean }

    # --- Agent runs (Epic AP) ---

    RunMode:
      type: string
      enum: [Headless, Terminal, Desktop]
      description: |
        Execution surface for the run. `Headless` spawns andy-cli inside the
        container, captures the AQ2 exit-code contract, and writes a terminal
        event to the outbox. `Terminal` is operator-attached (TTY exec).
        `Desktop` is GUI-attached (VNC); routing rules live in AP5.

    RunStatus:
      type: string
      enum: [Pending, Provisioning, Running, Succeeded, Failed, Cancelled, Timeout]
      description: |
        AP1 state-machine. Forward edges only: terminal states (Succeeded /
        Failed / Cancelled / Timeout) cannot transition further. The cancel
        endpoint maps `Running` → `Cancelled`; AQ2 exit codes 0/1/2/3/4 map
        to Succeeded / Failed / Failed / Cancelled / Timeout respectively.

    WorkspaceRef:
      type: object
      description: Owned value object on `Run` pinning workspace + branch.
      properties:
        workspaceId: { type: string, format: uuid }
        branch: { type: string, nullable: true }

    CreateRunRequest:
      type: object
      required: [agentId, mode, environmentProfileId]
      properties:
        agentId:
          type: string
          description: Agent slug from andy-agents (e.g. `triage-agent`).
        agentRevision:
          type: integer
          description: Optional pin to a specific agent revision; null = head.
          nullable: true
        mode: { $ref: '#/components/schemas/RunMode' }
        environmentProfileId:
          type: string
          format: uuid
          description: Bound profile id; X4 substitutes its image + GuiType into provisioning.
        workspaceRef: { $ref: '#/components/schemas/WorkspaceRef' }
        policyId:
          type: string
          format: uuid
          nullable: true
        correlationId:
          type: string
          format: uuid
          description: |
            Optional ADR-0001 root causation id. When omitted the controller
            mints one so every run carries a chain anchor.
          nullable: true

    Run:
      type: object
      description: |
        Wire shape for agent-run responses (AP2). `links.cancel` is null once
        the run is in a terminal state, signalling to clients that the row
        is observation-only.
      required: [id, agentId, mode, environmentProfileId, workspaceRef, status, correlationId, createdAt, updatedAt, links]
      properties:
        id: { type: string, format: uuid }
        agentId: { type: string }
        agentRevision:
          type: integer
          nullable: true
        mode: { $ref: '#/components/schemas/RunMode' }
        environmentProfileId: { type: string, format: uuid }
        workspaceRef: { $ref: '#/components/schemas/WorkspaceRef' }
        policyId:
          type: string
          format: uuid
          nullable: true
        containerId:
          type: string
          format: uuid
          nullable: true
          description: Set once AP5's mode dispatcher has provisioned or selected a container.
        status: { $ref: '#/components/schemas/RunStatus' }
        startedAt: { type: string, format: date-time, nullable: true }
        endedAt: { type: string, format: date-time, nullable: true }
        exitCode:
          type: integer
          nullable: true
          description: Process exit code (AQ2 contract); null when the runner never spawned andy-cli.
        error:
          type: string
          nullable: true
        correlationId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        links: { $ref: '#/components/schemas/RunLinks' }
      example:
        id: 7c5d3f5e-3b2a-4d2a-9e9f-2c8d1e0f3a4b
        agentId: triage-agent
        agentRevision: 3
        mode: Headless
        environmentProfileId: 1f0e2d3c-4b5a-4c6d-9e8f-7a6b5c4d3e2f
        workspaceRef:
          workspaceId: 11111111-2222-3333-4444-555555555555
          branch: main
        policyId: null
        containerId: c1c1c1c1-c2c2-c3c3-c4c4-c5c5c5c5c5c5
        status: Running
        startedAt: '2026-04-27T12:00:00Z'
        endedAt: null
        exitCode: null
        error: null
        correlationId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
        createdAt: '2026-04-27T11:59:50Z'
        updatedAt: '2026-04-27T12:00:00Z'
        links:
          self: /api/runs/7c5d3f5e-3b2a-4d2a-9e9f-2c8d1e0f3a4b
          cancel: /api/runs/7c5d3f5e-3b2a-4d2a-9e9f-2c8d1e0f3a4b/cancel

    RunLinks:
      type: object
      required: [self]
      properties:
        self: { type: string }
        cancel:
          type: string
          nullable: true
          description: Null once the run is in a terminal state.

    RunEvent:
      type: object
      description: |
        One outbox row, surfaced as a single line in the
        `GET /api/runs/{id}/events` NDJSON stream and as a single
        `IAsyncEnumerable<RunEventDto>` element via the matching MCP /
        CLI consumers. Subject suffix (`.finished` / `.failed` /
        `.cancelled` / `.timeout`) repeats in the `kind` field for
        consumers that want the discriminator without parsing.
      required: [runId, subject, kind, status, timestamp, correlationId]
      properties:
        runId: { type: string, format: uuid }
        subject:
          type: string
          example: andy.containers.events.run.7c5d3f5e-3b2a-4d2a-9e9f-2c8d1e0f3a4b.finished
        kind:
          type: string
          enum: [finished, failed, cancelled, timeout]
        status: { $ref: '#/components/schemas/RunStatus' }
        exitCode:
          type: integer
          nullable: true
        durationSeconds:
          type: number
          format: double
          nullable: true
        timestamp: { type: string, format: date-time }
        correlationId: { type: string, format: uuid }

    # --- Environment-profile catalog (Epic X) ---

    EnvironmentProfile:
      type: object
      description: |
        Governance descriptor for a runtime shape. Bound to workspaces
        (X5) and runs (AP1); resolved at container-creation time to
        substitute the base image and side-car configuration (X4).
      required: [id, code, displayName, kind, baseImageRef, capabilities, createdAt]
      properties:
        id: { type: string, format: uuid }
        code:
          type: string
          description: Stable slug (e.g. `headless-container`); unique across the catalog.
        displayName: { type: string }
        kind:
          type: string
          enum: [HeadlessContainer, Terminal, Desktop]
        baseImageRef:
          type: string
          description: OCI reference the run starts from (e.g. `ghcr.io/rivoli-ai/andy-headless:latest`).
        capabilities: { $ref: '#/components/schemas/EnvironmentCapabilities' }
        createdAt: { type: string, format: date-time }
      example:
        id: 7c5d3f5e-3b2a-4d2a-9e9f-2c8d1e0f3a4b
        code: headless-container
        displayName: Headless container
        kind: HeadlessContainer
        baseImageRef: ghcr.io/rivoli-ai/andy-headless:latest
        capabilities:
          networkAllowlist: [registry.rivoli.ai, api.github.com, pypi.org, nuget.org]
          secretsScope: WorkspaceScoped
          hasGui: false
          auditMode: Strict
        createdAt: '2026-04-27T00:00:00Z'

    EnvironmentCapabilities:
      type: object
      description: Capability envelope. Stored as a single JSON column so the shape can grow without per-field migrations.
      required: [networkAllowlist, secretsScope, hasGui, auditMode]
      properties:
        networkAllowlist:
          type: array
          items: { type: string }
          description: Hostnames or wildcards permitted for outbound traffic. Empty array = no egress.
        secretsScope:
          type: string
          enum: [None, RunScoped, WorkspaceScoped, OrganizationScoped]
          description: Couples to AP10 — `RunScoped` tokens are revoked on terminal events; broader scopes are not.
        hasGui:
          type: boolean
          description: True when the profile attaches a graphical session (X server / VNC).
        auditMode:
          type: string
          enum: [None, Standard, Strict]
          description: Audit-trail intensity. `Strict` captures every tool call pre-redaction.

    EnvironmentProfileList:
      type: object
      required: [items, totalCount]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/EnvironmentProfile' }
        totalCount: { type: integer }
